<!--second column starts-->
<div class="span6">
    <div class="heading-border clearfix">
        <h3 class="headtext">Get in <span class="color">Touch</span></h3>
    </div>
    <!--address starts (nested columns)-->
    <div class="row">
        <div class="span3">Dear members<br /> If you have any questions please do not hesitate to contact us.</div>
    </div>
    <!--spacer here-->
    <div class="spacer-40px">&nbsp;</div>
    <div class="heading-border clearfix">
        <h3 class="headtext">Service &amp; <span class="color">Support</span></h3>
    </div>
    <p>admin@ethereumpro.org</p>
    <!--spacer here-->
    <div class="spacer-40px">&nbsp;</div>
    <div class="heading-border clearfix">
        <h3 class="headtext">Working <span class="color">Hours</span></h3>
    </div>
    <p><strong>24 hours a day</strong> <br /> <strong>7 days in a week</strong></p>
</div>
<!--second column ends-->