{% extends ':home:base.html.twig' %}

{% block body %}
    <!-- content-top starts
================================================== -->
    <div id="content-top">
        <div id="content-top-inner">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <h1>{{ 'home.privacy'|trans }}</h1>
                        <ul class="breadcrumb">
                            <li><a href="{{ path('home_index') }}">{{ 'home.home'|trans }}</a> <span class="divider">/</span></li>
                            <li class="active">{{ 'home.privacy'|trans }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-top ends
    ================================================== -->

    <section id="content">
        <div class="container">

<p>The Ethereumpro recognizes and supports the importance of protecting the privacy of information we may collect from you. To this end, we are committed to using our best efforts to respect your privacy. Below you will find our policies for how the Ethereumpro handles information we collect from you from your visits to the Ethereumpro website. The Ethereumpro follows strictly all relevant Laws and Regulations.</p>
<br/>
<p><strong>Ethereumpro way of using information</strong></p>
<p>The profile information Users provide will be uniquely tagged to a replicated marketing website. The marketing website can also be accessed by a mobile device.</p>
<p>Users can change their Profile information at any time and can control how other Users and the Ethereumpro communicates with them.</p>
<p>If you have any questions concerning this privacy policy, please email us at admin@ethereumpro.org</p>
<p>We receive and store information you enter on the Ethereumpro website or give us in any other way. We use such information, including your name and e-mail address, for several purposes such as:</p>
•	To process, fulfill and notify you of your product order status; and<br/>
•	To inform you about the latest information about our company, updates in policies and procedures, promotions, changes in strategy, changes in compensation plan, events and product specials etc.<br/>
•	From time to time we collect personal information from our Independent Marketing Associates. Where permitted by the provisions of applicable laws the Ethereumpro may use and disclose such personal information about our Independent Marketing Associates for the following purposes:<br/>
•	Processing, fulfilling and notifying you of your product order status;<br/>
•	Developing Downline Genealogy Reports or other related business reports;<br/>
•	Providing Independent Marketing Associate services such as planning and facilitating Independent Marketing Associate meetings and trainings;<br/>
•	Administering Independent Marketing Associate benefits;<br/>
•	Developing and implementing policies, marketing plans, and strategies;<br/>
•	Publishing personal information in company’s’ newsletters, promotional materials and company and intra-group communications;<br/>
•	Providing references; and<br/>
•	Complying with applicable laws and regulatory requirements and assisting with any governmental or police investigation; and<br/>
•	Other purposes directly relating to any of the above.<br/>
<p>Additionally, User preferences and settings (time zone, language, privacy preferences, product preferences, etc.) may be collected to enhance the Service.</p>
<p>As is standard practice on many websites, the Ethereumpro also logs non-personally-identifiable information including IP address, profile information, aggregate User data, and browser type, from Users and other visitors to the site or application. This data is used to improve the Services, to analyze trends, to administer the Services, to track Users’ movements around the Service and to gather demographic information about our User base as a whole. The Ethereumpro will not use the information collected to market directly to that person. This non-personally-identifiable information may be shared with third parties to provide more relevant services and special offers to Users. User IP addresses are recorded for security and monitoring purposes.</p>
<p>In addition, the Ethereumpro and third parties may use pixel tags — tiny graphic images — to tell us what parts of our website Users have visited or to measure the effectiveness of searches Users perform on our site, among other data. Pixel tags also enable us to send email messages in formats Users can read. And they tell us whether emails have been opened to assure that we’re only sending messages that are of interest to our Users. The Ethereumpro stores the information we gather in a database stored on computer servers in a controlled, secure environment, protected from unauthorized access, use or disclosure. To the extent that third parties gather information, they store that information and are responsible for their use of the same. (As an example Google is responsible for storing the information its’ Google Analytics gathers from our website or application).</p>
<p>User information including User images and User names may be displayed to people in order to facilitate User interaction in the Ethereumpro learning and crypto currency community. User’s full names may be revealed by the Ethereumpro to other Users if the profile option to disclose this information was selected.</p>
<p>Ethereumpro may also use a User’s email address to send updates, a newsletter or news regarding the service. The Ethereumpro may send email communications which use a “click-through URL” linked to content on the Ethereumpro website or application. When a User clicks one of these URLs, they pass through our web server before arriving at the destination web page. The Ethereumpro tracks this click-through data to help determine interest in particular topics and measure the effectiveness of our Users communications. If you prefer not to be tracked simply avoid clicking text or graphic links in the email.<p/>
<p>From time to time, the Ethereumpro or an associated third party may sponsor a promotion, sweepstake or contest on Ethereumpro. Users may be asked to provide personal information including name, email address or home address or to answer questions in order to participate. The Ethereumpro may transfer personal information to certain ad partners from whom you have explicitly requested to receive information. It will be clear at the point of collection who is collecting the personal information and whose privacy statement will apply.</p>
<p>The Ethereumpro may also collect information for market research purposes to gain a better understanding of our Users and thus provide more valuable service. The Ethereumpro also collects information regarding User activities on our website, and on related websites. This helps us to determine how best to provide useful information to Users and to understand which parts of our websites and Internet services are of most interest to them.</p>
<br/>
<p><strong>Geo-location-information</strong></p>
<p>While the Ethereumpro website is in use, we may keep track of User’s device’s geographic location so that we can connect Users to other Ethereumpro services based on their particular geographic location.</p>
<br/>
<p><strong>USE OF COOKIES</strong></p>
<p>The Ethereumpro may use cookies to store visitors’ preferences and to record session information for purposes including ensuring that visitors are not repeatedly offered the same promotions, to customize newsletter and Web page content based on browser type and User profile information, to help track usage to help us understand which parts of our website are the most popular, where our visitors are going, and how much time they spend there, to make usage of our website even more rewarding as well as to study the effectiveness of our User communications and to customize each visitor’s experience and provide greater convenience.</p>
<p>The Ethereumpro does not link the information we store in cookies to any user-submitted personal information such as name, mailing address, email address, telephone number and age. You may be able to configure your browser to accept or reject all or some cookies, or notify you when a cookie is set — each browser is different, so check the “Help” menu of your browser to learn how to change your cookie preferences — however, you must enable cookies from Ethereumpro in order to use most functions on the site. Please note that Ethereumpro may allow third party advertisers that are presenting advertisements on some of our pages to set and access their cookies on your computer. Advertisers’ use of cookies is subject to their own privacy policies, not the Ethereumpro Privacy Policy.</p>
<p>The Ethereumpro website deposits certain bits of information called "cookies" in a visitor's web browser software. Cookies are sent back only to the Ethereumpro website that deposited them when a visitor returns to that site. Cookies can tell us how and when pages in a Ethereumpro website are visited and by how many people.</p>
<p>We use cookies:</p>
To keep track of your shopping cart status;<br/>
To allow you to use all password-protected services in a single session without having to re-enter your password; and<br/>
To track your site of origin.<br/><br/>
<p><strong>LINKS</strong></p>
<p>Ethereumpro may contain links to third party websites. Ethereumpro is not responsible for the privacy policies and/or practices on other sites or applications. When connecting to or linking to another site, a User should read the privacy policy stated on that site. Our privacy policy only governs information collected on Ethereumpro.</p><br/>
<p><strong>CORRECTING/UPDATING OR REMOVING INFORMATION</strong></p>
<p>Ethereumpro Users may modify or remove any of the personal non-required information contained in their Profile at any time by logging into their account and accessing features such as Edit Profile and Account Info.</p><br/>
<p><strong>EMAIL CHOICE / OPT OUT</strong></p>
<p>Users who no longer wish to receive updates or notifications by email may choose not to, by opting-out. To opt-out, simply log-in to your User Account and change your email settings.</p><br/>
<p><strong>CHANGES IN OUR PRIVACY POLICY</strong></p>
<p>From time to time Ethereumpro may make changes to our Privacy Policy. If we make changes, we will post them on our site to make Users aware of what the changes are so Users will always be aware of what information we collect, how we use it, and when we may disclose it. A User is bound by any changes to the Privacy Policy when she or he uses the site after those changes have been posted.<p><br/>
<p><strong>Third Parties</strong></p>
<p>We are not in the business of selling your personal information to third parties. Where permitted by the provisions of applicable law, the Ethereumpro may though share such information from time to time with the following third parties:</p>
•	Those employees, directors and managers of the Ethereumpro and its local and foreign associated/affiliated companies who have a need to access your personal information in carrying out their responsibilities;<br/>
•	Any agent, contractor, supplier, vendor, or third party who provides administrative, advertising, printing, or other services to the Ethereumpro or its affiliated companies, including but not limited to distribution centers, external auditors, trustees, insurance companies, actuaries;<br/>
•	Any government agency or other appropriate governmental, police, or regulatory authority or elsewhere in order to meet legal security and regulatory requirements; and<br/>
•	In the case of information submitted by distributors, any consultant/agent appointed by the Ethereumpro or its affiliated companies to plan, provide and/or administer Independent Marketing Associate benefits.<br/>




        </div>
    </section>
{% endblock body %}