{% extends ':home:base.html.twig' %}

{% block body %}
    <!-- content-top starts
================================================== -->
    <div id="content-top">
        <div id="content-top-inner">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <h1>{{ 'home.registration.terms'|trans }}</h1>
                        <ul class="breadcrumb">
                            <li><a href="{{ path('home_index') }}">{{ 'home.home'|trans }}</a> <span class="divider">/</span></li>
                            <li class="active">{{ 'home.registration.terms'|trans }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-top ends
    ================================================== -->

    <section id="content">
        <div class="container">

<p><strong>Introduction</strong></p>
<p>Ethereumpro.org  provides an online tool that allows users to freely trade Ethereum Worldwide. The Terms of Use described here apply to all transactions and activities engaged by the users of this website.</p>
<p><strong>Changes to Website</strong></p>
<p>Ethereumpro will always attempt to keep its users informed of any changes to the website. However, Ethereumpro may terminate, change, suspend or discontinue any aspect of this website, including the availability of features of the site, at any time. Ethereumpro may also impose limits on certain features and services or restrict your access to part or the entire website without prior notice or liability.</p>
<p><strong>Proprietary Rights</strong></p>
<p>All contents of the Ethereumpro website, including, but not limited to, text, names, data, logos, buttons, icons, code, methods, techniques, models, graphics and the underlying software (the "Components"), are proprietary of Ethereumpro and are protected by the patent, copyright, trademark. Nothing contained in this website shall be used in any form unless expressly stated by Ethereumpro.</p>
<p><strong>Privacy</strong></p>
<p>Ethereumprowill not share, publish, or sell any user data contained in its databases. However, Ethereumpro may be requested at any time to share trade data including, but not restricted to, emails, user transactions, and trade data by government authorities. Ethereumpro will not deny such requests and cannot be held responsible for the leakage of information by third parties whether the action was performed intentionally or not. We are prohibited from using multiple accounts.</p>
<p><strong>Fees and Comissions</strong></p>
<p>In order to pay for server space, bandwidth, programmers, designers, and other costs, Ethereumpro imposes a standard: Fee – 0.2% - 1%. fee on every transaction performed by all users of the website. This transaction may vary and may be different for each individual account.</p>
<p><strong>Limitation of Liability</strong></p>
<p>Ethereumpro does not provide advice for its users on trading techniques, models, algorithms or similar. Occasionally, Ethereumpro may publish best practices or recommendations publicly to all its users or privately to users expressly requesting assistance. Users of this website are responsible for the outcome of their actions with their account balances. Users are also responsible for protecting access information to the Website including, but not limited to, user names, passwords, and bank account details. Ethereumpro is not responsible for the outcome, whether positive or negative, of any action performed by any of its users within or related to the Website. Some withdraw methods require Ethereumpro to use personal details of the user including, but not limited to, name, address, email, phone number, and bank account number for which Ethereumpro has the capability to send and receive encrypted emails. The usage of encryption is left entirely at the discretion of the user.</p>
<p><strong>Ethereumpro Terms of Use</strong></p>
<p>By opening an account at Ethereumpro you agree to the Terms of Use stated in this page. Ethereumpro reserves the right, at its discretion, to add, remove, or modify portions of these Terms of Agreement at any time. Your continued use of Ethereumpro following the implementation of changes to these Terms of Agreement implies that you accept such changes. 
Please note the funds will be on hold until the identity is verified. 
We don't accept any more international wire transfers from US Citizens or from US Bank 
If your account has been inactive for 2 calendar years, its status will be changed to “locked”. Please contact Support to unlock your account.
If you change the email through the support of withdrawal will be disabled for two weeks. 
All newly registered users can't withdraw money from an account within 3 working days.</p>
<p><strong>Identity verification</strong></p>
<p>Required in case you choose to load your account by wire transfer. To comply with AML/CTF recommendations, we require our clients to verify identity by providing scanned copy of ID and scanned copy of utility bill or a bank statement which should not be older then 6 month. Copy should be in good resolution and colored.</p>
<p><strong>Jurisdiction</strong></p>
<p>Laws in the country where the user resides may not allow the usage of an online tool with the characteristics of Ethereumpro or any of its features. Ethereumpro does not encourage the violation of any laws and cannot be held responsible for violation of such laws. For all legal purposes, these Terms of Use shall be governed by the laws applicable in the Switzerland. You agree and hereby submit to the exclusive personal jurisdiction and venue of the Switzerland for the resolution of any disputes arising from these Terms of Use.</p>
<p><strong>INCOME STATEMENT</strong></p>
<p>A Ethereumpro Independent Marketing Associate’s (IMA) success depends in great part upon his or her skills, efforts, dedication, desire, and motivation. Becoming an IMA is NOT a guarantee of income.
There is no purchase required of a Ethereumpro product to receive referral sales commissions.</p>
<p><strong>CONFLICTS OF INTEREST AND CONFIDENTIALITY</strong></p>
<p>Conflict of Interest. IMA’s are free to participate in other multilevel or network marketing business ventures. However, during the term of this agreement, IMAs may not recruit other Company IMAs or customers for any other network marketing business. Following the cancellation of this agreement for any reason, and for a period of six months thereafter, a former IMA may not recruit any Ethereumpro IMA or Customer for another network marketing business. The term "recruit" means actual or attempted solicitation, enrollment, encouragement, or effort to influence in any other way, either directly or through a third party, another Ethereumpro IMA or customer to enroll or participate in another multilevel marketing, network marketing or direct sales opportunity. This conduct constitutes recruiting even if the IMA's actions are in response to an inquiry made by another IMA or customer.</p>
<p>In addition to the above, without prejudice to the independent status of the IMA and the stipulations above, the IMA's are restrained from promoting competitive companies and products (e.g. Network Marketing companies, cryptocurrency, mining Networks etc). If they do so, their accounts will be frozen and will be forfeited.</p>
<p>Confidentiality. During the term of the Agreement, Ethereumpro may supply to IMAs confidential information, including, but not limited to customer lists, customer information developed by Ethereumpro or developed for and on behalf of Ethereumpro by IMAs, (including, but not limited to, customer and IMA profiles and product purchase information), IMA lists, manufacturer and supplier information, business reports, commission or sales reports and such other financial and business information which Ethereumpro may designate as confidential. All such information (whether in written or electronic form) is proprietary and confidential to Ethereumpro and is transmitted to IMAs in strictest confidence on a "need to know" basis for use solely in IMAs business with Ethereumpro. IMAs must keep such information confidential and must not disclose any such information to any third party, directly, or indirectly. IMAs must not use the information to compete with Ethereumpro or for any purpose other than promoting Ethereumpro program and its products and services. Upon expiration, non-renewal or termination of the Agreement, IMAs must continue to keep such information confidential, discontinue the use of such confidential information and promptly return any confidential information in their possession and all copies thereof to Ethereumpro.</p>
<p><strong>Ethereumpro Compensation Plan</strong></p>
<p>Users hereby accept that the Ethereumpro reserves the right to, at any given time, change the Ethereumpro Compensation Plan. Should a change ever be needed it will be done to protect the longevity of Ethereumpro as a company, and therefore also provide a secure and long-term business for both me and Ethereumpro.
The said comes to ALL areas of the compensation plan including but not limited to any potential profit sharing or other benefits provided by the Ethereumpro Compensation Plan.
</p>
<p><strong>Discontinuing Service</strong></p>
<p>We may provide you the opportunity to discontinue receiving future e-mail communications from us at the point where we request information from you.</p>
<p>The said gives you the option to remove your e-mail address from our database so that you do not receive any future mailings and no longer receive our service.</p>
<p>You can exercise this option at any time by sending us an e-mail to our Support department. You will always find the current and valid customer service e-mail address on our website if you would need to contact us. However, if you do discontinue service, you may not be able to use password-protected areas of our site.</p>
<p><strong>Access to Personal Information</strong></p>
<p>You have the right to request and obtain from the Ethereumpro the personal information available on file about you and request a correction of any data that is inaccurate. You may also request the Ethereumpro to inform you of the type of personal information maintained by us. Requests for access to and correction of personal data or information about the Ethereumpro policies and procedures regarding personal data should be addressed in writing to Ethereumpro Customer Service department.</p>
<p>Questions, comments or suggestions about the Ethereumpro in general should also be e-mailed to Ethereumpro Customer Service department.</p>
<p><strong>Electronic Communications</strong></p>
<p>By accepting this agreement you hereby agree, fully and with no objections, that the Ethereumpro may provide all legal communications and notices to You electronically by posting them on our website or, at our election, by sending an email to the email address that you provided to us and/or to the email address that you currently are keeping in your profile section as an official email address of yours. You may, at any time, withdraw your consent to receive communications from the Ethereumpro electronically by contacting our customer service by email provided at out website.</p>
<p>However, if You withdraw your consent to receive our communications electronically, You are at the same time discontinuing your use of your personal Ethereumpro account, and thereby also all benefits connected to your personal rights as an Independent Marketing Associate.</p>
<p><strong>Copyrights, Trademarks and use of the Ethereumpro Website</strong></p>
<p>The Ethereumpro website contains; artwork, graphics, photographs, images, document layouts, text, fonts, music, software tools, and other information (referred to herein as “Content”). The Ethereumpro website and all the content provided by the Ethereumpro are the property of the Ethereumpro, and/or our subsidiaries or the property of parties from whom Ethereumpro has licensed such property.</p>
<p><strong>SPAM POLICY</strong></p>
<p>The abuse and misuse of e-mail by a Ethereumpro(COMPANY) Independent Marketing Associate (IMA) is a serious problem. Ethereumpro will not tolerate SPAM.</p>
<p>Definition of UCE (Unsolicited Commercial E-mail), or SPAM:</p>
•	The bulk UCE, promotional material, or other forms of solicitation sent via e-mail that advertise any IP address belonging to Ethereumpro or any URL (domain) that is linked to www.ethereumpro.org or other web sites owned or operated by Ethereumpro<br/>
•	The use of web pages set up on ISPs (Internet Service Providers) that allow SPAM (also known as "ghost sites") that directly or indirectly reference customers to domains or IP addresses linked by www.ethereumpro.org or other web sites owned or operated by Ethereumpro<br/>
•	Advertising, transmitting, or otherwise making available any software, program, product, or service that is designed to facilitate a means to SPAM.<br/>
•	Forging or misrepresenting message headers, whether in whole or in part, to mask the true origin of the message.<br/>
<p>Repercussions of SPAM:</p>
<p>Across the Web, it is generally accepted that SPAM is an inconsiderate and improper business practice. SPAM is not only harmful because of its negative impact on consumer attitudes toward Ethereumpro, but it can also overload Ethereumpro, resources and other services.</p>
<p>Our Providers:</p>
<p>Since it is unsolicited, users who receive SPAM often become angry and send complaints to our service providers. It can cause negative consumer attitudes and drain resources. The Ethereumpro strives to maintain favorable business relationships in the Web community and obviously will not allow any practice that threatens these relationships.</p>
<p>Consequences for use of SPAM:</p>
<p>Ethereumpro reserves the right to terminate, without warning, any IMA that violates this policy. Usage of Ethereumpro services constitutes acceptance and understanding of this policy. Ethereumpro reserves the right to decide what it considers "SPAM", "UCE", "mail bombing", or "bulk e-mail", and to determine from all of the evidence whether or not the e-mail recipients were from an "opt-in" e-mail list.</p>
<p>If an IMA or an IMA’s Web site is mentioned in a SPAM complaint, said IMA may be subject to immediate termination.</p>
<p>Ethereumpro reserves the right to determine what violates it’s No SPAM Policy.</p>
<p><strong>Your Personal Account</strong></p>
<p>When you use the Ethereumpro website you agree that You are responsible for maintaining and protecting the confidentiality of your account and password and restricting access to your registered account. You agree to accept responsibility for all activities that occur under your account or password and not hold the Ethereumpro responsible in any way what so ever.</p>
<p><strong>Delivery of Products</strong></p>
<p>You agree that the ownership of Products that You purchase transfers to You upon delivery of bids and/or other product packages that becomes available for use at your personal website. The said means that the risk of loss and title for such items pass to You, at the time they become available for you and you hereby confirm that you will be considered as having broken the seal (started using the product) of the products by logging in to your Ethereumpro website and/or accessing the product storage of your back office.</p>
<p>I hereby agree that I understand and accept that the Ethereumpro is not liable for any delivery delay or loss of product or subsequent losses resulting from such delays.</p>
<p>For any Product that is to be provided to You in an electronic format, You agree that delivery of such Product shall be deemed to have occurred either (a) at the time we transmit the Product via email or other electronic communication addressed to You or (b) at the time we transmit a notification to You that the Product is available for downloading and/or viewing at the Ethereumpro website.</p>
<p><strong>Returns, Refunds</strong></p>
<p>You may return purchased Ethereumpro Products in the following circumstances (excluding personalized or customized items):</p>
<p>The purchased package may only be refunded to You in case You have not logged in for the period of 14 (fourteen) days.</p>
<p>No refunds will be made after You have logged into Your account. By doing this we consider that You are accepting our conditions and no refunds of Your payment shall be made.</p>
<p>You have the right to withdraw from this Contract only if You have not logged into Your account, started using the platform and gained access to the product.</p>
<p>Ethereumpro will process your return promptly upon verifying that You are eligible for a refund. In most cases, You should expect to receive your refund within 30 working days of receipt of the Products by Ethereumpro.</p>
<p>I hereby Confirm that I understand that the Ethereumpro return policy will NOT cover situations where the Marketing Associate, YOU, have already received commission payouts, or other benefits, as a result of using the Ethereumpro products and/or Services. </p>
<p><strong>Taxes, Customs Duties or other fees</strong></p>
<p>When ordering Products, or receiving commissions or other benefits, from Ethereumpro Users may be subject to import duties, taxes or other fees, which are levied once the product, commission or benefit reaches the, by you, specified destination or account.</p>
<p>Users hereby agree that any additional charges, what so ever, that may arise, for these costs must be borne by as the buyer and/or Independent Marketing Associate; the Ethereumpro have NO control over these charges and cannot predict what they may be.</p>
<p>Policies vary widely from country to country, so it is Users responsibility solely, as a buyer or Independent Marketing Associate, to contact the local administrational office for further information.</p>
<p>Additionally, please note that when ordering products or receiving commissions from the Ethereumpro, users are considered, in most jurisdictions, to be the importer of these goods and/or commission and must comply with all laws and regulations of the country in which Users are receiving the goods and/or commission.</p>
<p><strong>Product Descriptions</strong></p>
<p>At Ethereumpro we always strive towards being as accurate as possible in our descriptions of products. However, the Ethereumpro does not warrant that product descriptions or other content is accurate, complete, reliable, current, or error-free. If a product offered by the Ethereumpro is not as described, Users’ sole remedy and responsibility is to return it in unused condition.</p><br/>
<p>PLEASE NOTE: members from following countries are not accepted at www.ethereumpro.org: USA, Iran, Iraq</p><br/>
<p><strong>Affiliate program.</strong></p>
<p>There are five memberships available: Silver, Gold, Diamond, Ethereum and EthereumPRO. By participating in affiliate program each member gets opportunity to crowdfund future applications development.</p>

<p>Silver membership - A crowdsale to sell virtual shares in a blockchain organization. Average income 10%.</p>
<p>Gold membership - Decentralized gaming platform. Average income 20%.</p>
<p>Diamond membership - Decentralized voting platform. Average income 30%.</p>
<p>Ethereum membership - Consortium blockchain network. Average income 40%.</p>
<p>EthereumPRO membership -  A puzzle-based cryptocurrency. Average income 50%.</p>

<p>By purchasing any membership you are crowdfunding in one of the future application. All platforms are in development process and each platforms requires time and investment to become alive. From each platform crowdfunders will receive revenue depending on membership type.</p>

<p>EthereumPRO has no fiduciary duty to any User. THE SERVICES ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS WITHOUT ANY WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, NONINFRINGEMENT OR COURSE OF PERFORMANCE. USE OF THE SERVICES IS AT USER'S OWN RISK.</p> 

        </div>
    </section>
{% endblock body %}